[build]
  base = "apps/web"
  command = "npm install --prefix ../.. && npx turbo build --filter=dylanyoung-website --cwd=../.."
  publish = "out"

[build.environment]
  NODE_VERSION = "20.19.0"

[[redirects]]
  from = "https://www.sitecoremaster.com/*"
  to = "https://dylanyoung.dev/"
  status = 301
  force = true

[[redirects]]
  from = "https://sitecoremaster.com/*"
  to = "https://dylanyoung.dev/"
  status = 301
  force = true

[[redirects]]
  from = "/sugcon-eu-2024/*"
  to = "/speaking/sugcon-europe-2024/:splat"
  status = 301
  force = true

