[build]
  command = "npm install && cd apps/web && npm run build"

[build.environment]
  NODE_VERSION = "20.19.0"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "https://www.sitecoremaster.com/*"
  to = "https://dylanyoung.dev/"
  status = 301
  force = true

[[redirects]]
  from = "https://sitecoremaster.com/*"
  to = "https://dylanyoung.dev/"
  status = 301
  force = true

[[redirects]]
  from = "/sugcon-eu-2024/*"
  to = "/speaking/sugcon-europe-2024/:splat"
  status = 301
  force = true

